<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.user.dao.UserMapper">

    <insert id="createUser" parameterType="com.shop.user.entity.UserDO" >
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user ( id, user_name, password, phone, address, sex, id_card
        )
        VALUE (#{id}, #{userName}, #{password}, #{phone}, #{address}, #{sex}, #{idCard})

    </insert>

    <select id="getUserById" parameterType="java.lang.Integer" resultType="com.shop.user.entity.UserDO">

    </select>

</mapper>